<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="../styles/main_styles.css">
</head>
<body>
  <p> Create Open Sketch Session</p>
  <form id="CreateUser" action="createSession" method="post">
    <div>
      <label>Username:</label>
      <input type="text" name="username" />
    </div>
    <!-- <div>
      <label>Last Name:</label>
      <input type="text" name="lastname" />
    </div> -->
    <!-- <div>
      <label>Entry1:</label>
      <input type="text" name="entry1" />
    </div>
    <div>
      <label>Entry2:</label>
      <input type="text" name="entry2" />
    </div> -->
    <input type="submit" />
  </form>
</body>
</html>
