<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="../styles/main_styles.css">
</head>
<body>
  <p> Create User test</p>
  <form id="CreateUser" action="user" method="post">
    <div>
    <label>First Name:</label>
      <input type="text" name="firstname" />
    </div>
    <div>
    <label>Last Name:</label>
      <input type="text" name="lastname" />
    </div>
    <input type="submit" />
  </form>
</body>
</html>
